<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UserManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UserManagement.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/product.css" />
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/css/add.css" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
    <link rel="stylesheet" href="~/lib/fontawesome-pro-6.1.1-web/css/all.css" />
</head>
<body>
    <div id="notification" class="notification hidden">
        <h3>
        </h3>
        <div id="buttonYN">
            <button id="btn-noti-yes" class="btn btn-noti-c" onclick="yesDelete()">Yes</button>
            <button id="btn-move-trash" class="btn btn-noti-c" onclick="yesMoveToTrash()">Yes</button>
            <button id="btn-noti-no" class="btn btn-noti-c">No</button>
        </div>
    </div>
    <div id="notification-1" class="notification background-transparent hidden">
        <i class="fa-solid fa-circle-check"></i>
        <h3>Success!</h3>
    </div>

    <div id="content-main-main">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white top-nav">
                <div class="container-fluid">
                    <img class="img-logo" src="~/img/UserManagementLogo2.png" />
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">User Management</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                            </li> *@
                        </ul>

                    </div>

                    <div id="admin-control" class="dropdown">
                        <button class="dropbtn">
                            @ViewBag.Name
                            <i class="fa fa-solid fa-angle-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a asp-controller="Home" asp-action="Logout">Logout</a>
                        </div>
                    </div>

                </div>
            </nav>

        </header>
        <div class="left-nav-content">
            <div id="left-nav" class="left-nav">
                <div id="left-user" class="icon-nav-1 display-flex-center-all mg-t-40" onclick="navigate('users')">
                    <i class="fa-light fa-users fa-lg"></i>
                    <div class="tip users-tip hv-none">Users</div>
                </div>
                @* <span>Users</span> *@
                <div id="left-trash" class="icon-nav-1 display-flex-center-all" onclick="navigate('trash')">
                    <i class="fa fa-light fa-trash fa-2x"></i>
                    <div class="tip trash-tip hv-none">Trash</div>
                </div>

                <div id="left-export" class="icon-nav-1 display-flex-center-all" onclick="navigate('export')">
                    <i class="fa fa-light fa-file-export fa-2x element"></i>
                    <div class="tip export-tip hv-none">Export all data to excel</div>
                </div>

                @* <div id="card-export" class="icon-nav-1 display-flex-center-all" onclick="navigate('card')">
                    <i class="fa fa-light fa-id-card fa-2x element"></i>
                    <div class="tip card-tip hv-none">Print user card</div>
                </div> *@

            </div>
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/home.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/fontawesome-pro-6.1.1-web/"></script>
    <script src="~/js/function.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
