<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="index.html">
            <span class="align-middle">User Management</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Pages
            </li>
            <li id="u-checkio" class="sidebar-item">
                <a asp-controller="User" asp-action="ShowTimekeeping" class="sidebar-link">
                    <i class="align-middle" data-feather="check-circle"></i> <span class="align-middle">Check-in/out</span>
                </a>
            </li>

            <li id="u-profile" class="sidebar-item">
                <a asp-controller="User" asp-action="Home" class="sidebar-link">
                    <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
                </a>
            </li>
           
            <li class="sidebar-item">
                <span onclick="printCard()" class="sidebar-link">
                    <i class="align-middle" data-feather="download"></i> <span class="align-middle">Print ID Card</span>
                </span>
            </li>
            <li class="sidebar-item">
                <span onclick="printProfile()" class="sidebar-link">
                    <i class="align-middle" data-feather="download"></i> <span class="align-middle">Print Profile</span>
                </span>
            </li>
        </ul>
    </div>
</nav>