<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="index.html">
            <span class="align-middle">User Management</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Pages
            </li>

            <li id="sideBarHome" class="sidebar-item">
                <a class="sidebar-link" asp-controller="Admin" asp-action="Home">
                    <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                </a>
            </li>

            <li id="sideBarUser" class="sidebar-item">
                <a class="sidebar-link" asp-controller="Admin" asp-action="ShowUser">
                    <i class="align-middle" data-feather="users"></i> <span class="align-middle">Users</span>
                </a>
            </li>

            <li id="sideBarTrash" class="sidebar-item">
                <a class="sidebar-link" asp-controller="Admin" asp-action="ShowTrash">
                    <i class="align-middle" data-feather="trash"></i> <span class="align-middle">Trash</span>
                </a>
            </li>

            <li id="sideBarTK" class="sidebar-item">
                <a data-bs-target="#multi-21" data-bs-toggle="collapse" class="sidebar-link" aria-expanded="false">
                    <i class="align-middle" data-feather="calendar"></i> Timekeeping
                </a>
                <ul id="multi-21" class="sidebar-dropdown list-unstyled collapse show" style="">
                    @* <li class="sidebar-item">
                        <a class="sidebar-link" asp-controller="Timekeeping" asp-action="Overview">Overview</a>
                    </li> *@
                    <li id="tk-timecheck" class="sidebar-item">
                        <a class="sidebar-link" asp-controller="Timekeeping" asp-action="ShowTimecheck">Time check</a>
                    </li>
                    <li id="tk-wd" class="sidebar-item">
                        <a class="sidebar-link" asp-controller="Timekeeping" asp-action="ShowWorkingday">Workingday</a>
                    </li>
                    <li id="tk-rfl" class="sidebar-item">
                        <a class="sidebar-link" asp-controller="Timekeeping" asp-action="ShowRequestForLeave">Request for leave</a>
                    </li>
                    @* <li id="tk-extrashift" class="sidebar-item">
                        <a class="sidebar-link" asp-action="ShowShift" asp-controller="Timekeeping">Extra Shift</a>
                    </li>
                    <li id="tk-aes" class="sidebar-item">
                        <a class="sidebar-link" asp-controller="Timekeeping" asp-action="ShowAssignshift">Assign Extra Shift</a>
                    </li> *@
                    <li id="tk-ad" class="sidebar-item">
                        <a class="sidebar-link" asp-controller="Timekeeping" asp-action="ShowAssignDepartment">Assign Department</a>
                    </li>
                    <li id="tk-ad" class="sidebar-item">
                        <a class="sidebar-link" onclick="printQR()">Print QR Check In/Out</a>
                    </li>
                </ul>
            </li>

            <li class="sidebar-item">
                <a data-bs-target="#multi-2" data-bs-toggle="collapse" class="sidebar-link" aria-expanded="false">
                    <i class="align-middle" data-feather="download"></i>Export
                </a>
                <ul id="multi-2" class="sidebar-dropdown list-unstyled collapse" style="">
                    <li class="sidebar-item">
                        <span onclick="exportExcel()" class="sidebar-link" href="#">Export Data To Excel</span>
                    </li>
                    <li class="sidebar-item">
                        <span onclick="printAllCard()" class="sidebar-link" href="#">Export All ID Card</span>
                    </li>
                    <li class="sidebar-item">
                        <span onclick="printAllProfile()" class="sidebar-link">Export All Profile</span>
                    </li>
                </ul>
            </li>

            
        </ul>
    </div>
</nav>