<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="index.html">
            <span class="align-middle">User Management</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Pages
            </li>
            <li class="sidebar-item active">
                <a class="sidebar-link" href="pages-profile.html">
                    <i class="align-middle" data-feather="home"></i> <span class="align-middle">Home</span>
                </a>
            </li>
            <li class="sidebar-item">
                <span onclick="printCard()" class="sidebar-link">
                    <i class="align-middle" data-feather="download"></i> <span class="align-middle">Print ID Card</span>
                </span>
            </li>
            <li class="sidebar-item">
                <span onclick="printProfile()" class="sidebar-link">
                    <i class="align-middle" data-feather="download"></i> <span class="align-middle">Print Profile</span>
                </span>
            </li>
        </ul>
    </div>
</nav>