<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="index.html">
            <span class="align-middle">User Management</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Pages
            </li>

            <li class="sidebar-item active">
                <a class="sidebar-link" asp-controller="Admin" asp-action="Home">
                    <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" asp-controller="Admin" asp-action="ShowUser">
                    <i class="align-middle" data-feather="users"></i> <span class="align-middle">Users</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" asp-controller="Admin" asp-action="ShowTrash">
                    <i class="align-middle" data-feather="trash"></i> <span class="align-middle">Trash</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a data-bs-target="#multi-2" data-bs-toggle="collapse" class="sidebar-link" aria-expanded="true">
                    <i class="align-middle" data-feather="download"></i>Export
                </a>
                <ul id="multi-2" class="sidebar-dropdown list-unstyled collapse" style="">
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="#">Export Excel</a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="#">Export Card</a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="#">Export Ciriculumn Vitae</a>
                    </li>
                </ul>
            </li>

            @* <li class="sidebar-item">
                <a class="sidebar-link" href="pages-blank.html">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">Blank</span>
                </a>
            </li> *@
        </ul>
    </div>
</nav>