USE [master]
GO
/****** Object:  Database [UserManagement]    Script Date: 2/22/2024 2:26:20 PM ******/
CREATE DATABASE [UserManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UserManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DOTNET\MSSQL\DATA\UserManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UserManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DOTNET\MSSQL\DATA\UserManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UserManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UserManagement]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 2/22/2024 2:26:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[gender] [varchar](20) NULL,
	[age] [int] NULL,
	[number] [varchar](20) NULL,
	[username] [varchar](20) NOT NULL,
	[password] [varchar](20) NOT NULL,
	[priority] [varchar](10) NULL,
	[status] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 2/22/2024 2:26:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteUser]
	@id int
AS
BEGIN
	DELETE FROM USERS 
	WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[InsertUser]    Script Date: 2/22/2024 2:26:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertUser]
	@name varchar(255),
	@gender varchar(20),
	@age int,
	@number varchar(20),
	@username varchar(20),
	@password varchar(20),
	@priority varchar(10),
	@status varchar(10)
AS
BEGIN
	INSERT INTO USERS (name, gender, age, number, username, password, priority, status)
	VALUES (@name, @gender, @age, @number, @username, @password, @priority, @status)
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateStatusUser]    Script Date: 2/22/2024 2:26:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateStatusUser]
    @id int
AS
BEGIN
    DECLARE @status varchar(10);

    SELECT @status = status FROM Users WHERE id = @id;

    IF @status = 'Lock'
    BEGIN
        UPDATE Users 
        SET status = 'Open' 
        WHERE id = @id AND status = 'Lock';
    END
    ELSE IF @status = 'Open'
    BEGIN
        UPDATE Users 
        SET status = 'Lock' 
        WHERE id = @id AND status = 'Open';
    END
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 2/22/2024 2:26:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateUser]
	@id int,
	@name varchar(255),
	@gender varchar(20),
	@age int,
	@number varchar(20),
	@username varchar(20),
	@password varchar(20),
	@priority varchar(10),
	@status varchar(10)
AS
BEGIN
	UPDATE USERS 
	SET name = @name
	, gender = @gender
	, age = @age
	, number = @number
	, username = @username
	, password = @password
	, priority = @priority
	, status = @status
	WHERE id = @id
END
GO
USE [master]
GO
