@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
    <meta name="author" content="AdminKit">
    <meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="/template/img/icons/icon-48x48.png" />
    <link rel="canonical" href="https://demo-basic.adminkit.io/" />

    <title>Assign department</title>

    <link href="/template/css/app.css" rel="stylesheet">
    <link href="/template/css/light.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="/template/js/DataTables/datatables.min.css" rel="stylesheet" />

</head>

<body>

    <div class="wrapper">
        <partial name="~/Views/Partials/Side_bar.cshtml"></partial>
        <div class="main">
            <partial name="~/Views/Partials/Top_navbar.cshtml"></partial>
            <main class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="h3 mb-3"><strong>ASSIGN DEPARTMENT</strong></h1>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card p-3">
                                <table id="reschedule-table" class="stripe hover row-border">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>ID User</th>
                                            <th>Name</th>
                                            <th>DOB</th>
                                            <th>Department</th>
                                            <th>Position</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>ID user</th>
                                            <th>Name</th>
                                            <th>DOB</th>
                                            <th>Department</th>
                                            <th>Position</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!-- MODAL -->
            <div class="modal fade" id="edit-reschedule-modal" tabindex="-1" aria-labelledby="edit-shift-modal-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="edit-shift-modal-label">SCHEDULE</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" asp-controller="TimeKeeping" asp-action="UpdateDepartment">
                                <div class="row mb-3">
                                    <div class="col-md-6 text-center"><strong>ID: </strong> <span id="idUser">12314124</span></div>
                                    <div class="col-md-6"><strong>Name: </strong> <span id="fullname">Dao Duc Nghia</span></div>
                                    <input type="hidden" name="idUser" value="" id="inputId"/>
                                </div>
                                <div class="mb-3">
                                    <label for="department" class="col-form-label fw-bold">Department</label>
                                    <select name="department" id="department-select" class="form-select" aria-label="Default select example">
                                        <option selected>Choose department... </option>
                                        <option value="HR">HR</option>
                                        <option value="SALE">SALE</option>
                                        <option value="IT">IT</option>
                                        <option value="MARKETING">MARKETING</option>
                                        <option value="MEDIA">MEDIA</option>
                                        <option value="ADMINISTRATIVE">ADMINISTRATIVE</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="" class="col-form-label fw-bold">Position</label>
                                    <select name="position" id="position-select" class="form-select" aria-label="Default select example">
                                        <option selected>Choose position...</option>
                                        <option value="Leader">Leader</option>
                                        <option value="Junior">Junior</option>
                                        <option value="Fresher">Fresher</option>
                                        <option value="Intern">Intern</option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!--END MODAL-->
            <partial name="~/Views/Partials/Footer.cshtml"></partial>
        </div>
    </div>

    <partial name="~/Views/Partials/Script/ScriptPDF.cshtml"></partial>
    <script src="/template/js/DataTables/datatables.min.js"></script>

    <script src="/template/js/app.js"></script>
    <script src="/template/js/TimeKeeping/modal.js"></script>
    <script src="/template/js/TimeKeeping/datatables.js"></script>
    <script src="/template/js/TimeKeeping/timekeeping.js"></script>
    <script src="/template/js/custom_navbar.js"></script>

</body>

</html>