body {
    font-family: "Roboto" !important;
    font-size: 18px;
    padding: 0;
    margin: 0;
    font-weight: 400;
    background-color: #F6F6F6;
}

main {
    width: max-content;
}

.container {
    font-family: "Roboto" !important;
    font-size: 18px;
    width: max-content;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
}

.hidden {
    display: none !important;
}

.hover-pointer:hover {
    cursor: pointer;
}

/* NAVIGATION */
.navigation {
    background-color: var(--color-white, #fff);
    width: 345px;
    height: 100vh;
    padding: 0;
    position: fixed;
}

.nav-first {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 65px;
    gap: 10px;
}

.name-company {
    font-size: 30px;
    font-weight: 600;
}

.nav-second {
    display: flex;
    flex-direction: column;
}

.sc-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: max-content;
    padding: 16px 24px;
    padding-right: 48px;
    border-radius: 16px;
    color: #fff;
    margin: 0 auto;
    background-color: var(--primary-900, #5d5fef);
    text-decoration: none;
}

.sc-menu {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

    .sc-menu div:first-child {
        margin-top: 65px;
    }

    .sc-menu div {
        margin-bottom: 45px;
    }

        .sc-menu div a {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 24px;
            text-decoration: none;
            color: var(--greys-blue-grey-700, #737791);
            font-weight: 400;
            line-height: normal;
        }

.container-fluid img {
    width: 72px !important;
    height: 76px !important;
    padding-right: 12px;
    margin-left: 0px;
    margin-right: 12px;
    /*border-right: 1px solid rgba(0, 0, 0, 0.3);*/
    padding-top: 8px;
    padding-bottom: 8px;
}

.top-nav {
    position: fixed;
    width: 100%;
    background-color: #FFF;
    z-index: 999;
    padding-bottom: 0;
    /*border-bottom: 1px solid #000;*/
    padding-top: 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#admin-control {
    margin-right: 100px;
    /*background-color: aqua;*/
    p /*adding: 20px;*/
    border: none;
    cursor: pointer;
}

.dropdown .dropbtn {
    border: none;
    background-color: #FFF;
    color: black;
    padding: 20px;
}

.dropbtn i {
    color: black;
}

.dropbtn:hover {
    background-color: #dfe6e9;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn i {
    margin-left: 10px;
}

/* CONTENT */
.content {
    flex-grow: 1;
    height: max-content;
    background-color: #F6F6F6;
    width: 1500px;
    margin-bottom: 64px;
    margin: 0 auto;
}

.box-sd {
    box-shadow: 0px 4px 20px 0px rgba(238, 238, 238, 0.50);
}

.top-navigator {
    height: 90px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: fixed;
}

.top-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 36px;
    padding-left: 20px;
}

.top-search-border {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    background: var(--greys-blue-grey-300, #f9fafb);
    margin-left: 200px;
    width: 513px;
    height: 60px;
}

    .top-search-border input {
        border-radius: 16px;
        border-style: none;
        background: var(--greys-blue-grey-300, #f9fafb);
        width: 100%;
        height: 100%;
        padding: 10px;
    }

        .top-search-border input:focus {
            outline: none;
            border-style: none;
            color: var(--greys-blue-grey-700, #737791);
            font-family: "Roboto";
            font-size: 18px;
        }

        .top-search-border input::placeholder {
            color: var(--greys-blue-grey-700, #737791);
            font-family: "Roboto";
            font-size: 18px;
        }

    .top-search-border svg {
        padding-left: 24px;
    }

.top-notification {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 8px;
    background-color: var(--supporting-color-yellow-shade, #fffaf1);
    margin-left: 360px;
    position: relative;
}

    .top-notification svg:last-child {
        position: absolute;
        top: 20%;
        right: 20%;
    }

    .top-notification svg:first-child {
        position: absolute;
    }

.top-account {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-left: 20px;
    gap: 10px;
}

    .top-account img {
        border-radius: 16px;
    }

.top-acc-1 {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

    .top-acc-1 span:first-child {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        /* 150% */
    }

    .top-acc-1 span:last-child {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: var(--greys-blue-grey-700, #737791);
    }

.content-2 {
    background-color: #FFF;
    height: max-content;
    margin: 32px 32px 32px 32px;
    /*overflow: auto;*/
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.cont-2-1 {
    display: flex;
    flex-direction: row;
}

.today-sales {
    width: calc(800px - 64px);
    height: calc(350px - 64px);
    background-color: #fff;
    border-radius: 16px;
    padding: 32px;
}

.ts-statistic {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.ts-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 43px;
}

.ts-exp-border {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 10px 16px;
    border: 1px solid #0F3659;
    border-radius: 8px;
    background-color: #fff;
}

    .ts-exp-border:hover {
        cursor: pointer;
    }

    .ts-exp-border span {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        color: #0F3659;
        font-family: "Roboto";
    }

.ts-title-1 {
    display: flex;
    flex-direction: column;
}

    .ts-title-1 span:first-child {
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
    }

    .ts-title-1 span:last-child {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        color: var(--greys-blue-grey-700, #737791);
    }

.ts-box {
    width: 160px;
    height: 160px;
    background-color: #d8d8e6;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 0px;
    gap: 8px;
}

    .ts-box .stt-num {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        margin-top: 8px;
    }

    .ts-box .stt-label {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        color: #425166;
    }

    .ts-box .stt-diff {
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        color: var(--primary-800, #4079ed);
    }

.visitor-insight {
    height: calc(350px - 64px);
    width: calc(1503px - 800px - 64px - 32px);
    background-color: #fff;
    border-radius: 16px;
    margin-left: 32px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title-chart {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.visitor-insight .vi-chart {
    width: 100%;
    height: 75%;
    background-color: #fff;
}

.cont-2-2 {
    width: 100%;
    height: 100%;
    /* background-color: #d8d8e6; */
    border-radius: 16px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    /* position: relative; */
}

.total-revenue {
    width: 625px;
    height: 360px;
    background-color: #FFF;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.tr-chart {
    height: calc(360px - 52px);
    background-color: #FFF;
}

#tr-chart {
    height: 308px !important;
    width: 625px;
}

.top-product {
    height: 360px;
    width: 100%;
    padding: 20px;
    background-color: #FFF;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#tp-table {
    width: 100%;
    border-collapse: collapse;
    border: none
}

    #tp-table th,
    #tp-table td {
        padding: 8px;
        text-align: center;
        vertical-align: middle;
        border-bottom: 1px solid #EDF2F6;
        ;
    }

.ta-center {
    text-align: left !important;
}

.line-container {
    position: relative;
    width: 100%;
    height: 10px;
}

.line-total,
.line-real {
    position: absolute;
    top: 0;
    height: 10px;
    border-radius: 8px;
}

.line-total {
    width: 100%;
    background-color: #9698f7;
}

.line-real {
    width: 80%;
    background-color: #5558f5;
}

.tp-text {
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: var(--greys-blue-grey-800, #444A6D);
}

.tp-sales div {
    color: #0095FF;
    border-radius: 8px;
    border: 2px solid #0095FF;
    padding: 4px 10px;
    background-color: var(--colors-light-blue-50, #F0F9FF);
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
}

    input[type=checkbox]:hover {
        cursor: pointer;
    }

.button-all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

#search {
    margin: 0 0 0 20px;
    display: flex;
    flex-direction: row;
    width: max-content;
}

    #search input {
        padding: 5px;
        border-radius: 8px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border: 1px solid #ccc;
        border-right: none;
        width: 300px;
        height: 54px;
    }

        #search input::placeholder {
            font-size: 16px;
            padding-left: 5px;
        }

        #search input:focus {
            border-right: none;
        }

    #search button {
        width: 50px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        background-color: #74b9ff;
        border: 1px solid #74b9ff;
    }

#checkbox-action {
    align-self: start;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.underline {
    text-decoration: underline;
}

#count-item {
    margin-right: 100px;
    font-weight: bold;
    text-decoration: none;
}

.reset-password-selected:hover, .delete-user-selected:hover {
    cursor: pointer;
}


/* NOTIFICATION */
.notification {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: var(--primary-900, #5d5fef);
    padding: 20px;
    height: 300px;
    width: 500px;
    border-radius: 16px;
    z-index: 999;
    top: calc(50% - 150px);
    right: calc(50% - 250px);
    color: white;
    gap: 30px;
}

    .notification button {
        background-color: white;
    }

    .notification h3 {
        text-align: center;
    }

.blur {
    filter: blur(5px);
    pointer-events: none;
    z-index: 998;
}

#buttonYN {
    margin-top: 20px;
    display: flex;
    gap: 100px;
}

.btn-noti-c {
    padding-left: 40px;
    padding-right: 40px;
}

    .btn-noti-c:hover {
        background-color: #dfe6e9;
    }

.background-transparent {
    background-color: #636e72;
    /*opacity: 80%;*/
}

#notification-1 i {
    font-size: 90px;
    opacity: 1000%;
    color: #74b9ff;
}

.pls-wait {
    background-color: #74b9ff;
}

.loader {
    text-align: center;
    vertical-align: middle;
    position: relative;
    display: flex;
    background: #74b9ff;
    padding: 10px;
    box-shadow: 0px 40px 60px -20px rgba(0, 0, 0, 0.2);
}

    .loader span {
        display: block;
        width: 20px;
        height: 20px;
        background: #eee;
        border-radius: 50%;
        margin: 0 5px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    }

        .loader span:nth-child(2) {
            background: #f07e6e;
        }

        .loader span:nth-child(3) {
            background: #a29bfe;
        }

        .loader span:nth-child(4) {
            background: #5ad1cd;
        }

        .loader span:not(:last-child) {
            animation: animate 1.5s linear infinite;
        }

@keyframes animate {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(30px);
    }
}

.loader span:last-child {
    animation: jump 1.5s ease-in-out infinite;
}

@keyframes jump {
    0% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(10px, -10px);
    }

    20% {
        transform: translate(20px, 10px);
    }

    30% {
        transform: translate(30px, -50px);
    }

    70% {
        transform: translate(-150px, -50px);
    }

    80% {
        transform: translate(-140px, 10px);
    }

    90% {
        transform: translate(-130px, -10px);
    }

    100% {
        transform: translate(-120px, 0);
    }
}

/* LEFT NAVIGATION BAR */
.left-nav-content {
    display: flex;
    flex-direction: row;
    padding-top: 80px;
}

.left-nav {
    height: 100vh;
    width: 84px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px;
    /*border-right: 1px solid #000;*/
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    position: fixed;
}

.display-flex-center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mg-t-40 {
    margin-top: 40px;
}

.icon-nav-1 {
    height: 60px;
    width: 60px;
    border-radius: 8px;
}

    .icon-nav-1:hover {
        cursor: pointer;
        background-color: #74b9ff;
        color: #FFF;
    }

        .icon-nav-1:hover i {
            color: #FFF;
        }

.icon-active {
    background-color: #74b9ff;
    color: #FFF;
}

.tip {
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px 5px 10px;
    color: black;
    border-radius: 8px;
    position: fixed;
    left: 20px;
    z-index: 9999;
}

.export-tip {
    top: 323px;
}
.trash-tip {
    top: 253px;
}
.users-tip {
    top: 183px;
}
/*.card-tip {
    top: 393px;
}*/

.icon-nav-1:hover .export-tip,
.icon-nav-1:hover .trash-tip,
.icon-nav-1:hover .users-tip
/*,.icon-nav-1:hover .card-tip*/
{
    display: block;
}

.hv-none:hover {
    display:none !important;
}

/* BULK ACTION */
#bulk-action, #export {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
}

#select-bulk, #sort-action, #export-action {
    border-radius: 4px;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    border: 1px solid #b2bec3;
}

    #select-bulk option, #sort-action option, #export-action option {
        font-size: 14px;
    }

#bulk-action button, #export button {
    background-color: #74b9ff;
    border: 1px solid #74b9ff;
    border-radius: 4px;
    font-size: 16px;
    color: #FFF;
    padding: 4px 10px 4px 10px;
}

.sort{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

td img {
    object-fit: cover;
}
