.login {
    background-color: white;
    height: max-content;
    min-width: 800px;
    padding: 32px;
    position: fixed;
    top: 20%;
    right: calc(50% - 500px);
    border-radius: 16px;
    width: max-content;
    box-shadow: 5px 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.login-input {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 500px;
}

.login-input input::placeholder{
    font-size: 14px;
}

#login-form p{
    font-size: 16px;
    margin-bottom: 0;
}

.login-input input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--primary-900, #5d5fef);
}

    .login-input input:focus {
        border: none;
    }

.btn-login {
    background-color: var(--primary-900, #5d5fef);
    padding: 5px 40px 5px 40px;
    border-radius: 8px;
    color: white;
    border: 1px solid var(--primary-900, #5d5fef);
    width: 500px;
}

.register p a {
    color: blue !important;
    text-decoration: underline !important;
}

.register p a:hover {
    cursor: pointer;
    
}

.login-logo img{
    width: 500px !important;
    height: 500px !important;
}