@{
    Layout = null;
}
@model UserManagement.Models.Viewsmodel.UserViewModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
    <meta name="author" content="AdminKit">
    <meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="/template/img/icons/icon-48x48.png" />
    <link rel="canonical" href="https://demo-basic.adminkit.io/pages-blank.html" />

    <title>Personal Information</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="/template/css/app.css" rel="stylesheet">
    <link href="/template/css/light.css" rel="stylesheet">
    <link href="/template/css/custom_timekeeping.css" rel="stylesheet">
    <link href="/template/js/DataTables/datatables.min.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body id="p-account">
    <div class="wrapper">
        <partial name="~/Views/Partials/Sidebar_user.cshtml"></partial>
        <div class="main">
            <partial name="~/Views/Partials/Top_navbar.cshtml"></partial>
            <main class="content">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="h3 mb-3"><strong>Profile - Personal Information</strong></h1>
                        </div>
                    </div>
                    <div class="card p-3">
                        <form method="post" asp-controller="User" asp-action="DoSavePersonalInfo" enctype="multipart/form-data">
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label class="form-label" for="fullname">Full Name</label>
                                    <input asp-for="FullName"
                                           type="text"
                                           class="form-control "
                                           id="fullname"
                                           placeholder="e.g. Croward Admin"
                                           value="@Model.FullName">
                                    <div class="invalid-feedback">
                                        Name seem unreal.
                                    </div>
                                </div>
                                <div class="mb-3 col-md-3">
                                    <label class="form-label" for="gender">Gender</label>
                                    <select asp-for="Gender" class="form-select flex-grow-1">
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>
                                <div class="mb-3 col-md-3">
                                    <label class="form-label" for="dateOfBirth">Date of birth</label>
                                    <input id="dob" asp-for="DateOfBirth" type="date" class="form-control ">
                                    <div class="invalid-feedback">
                                        Field required.
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-md-4">
                                    <label class="form-label" for="phoneNumber">Phone Number</label>
                                    <input asp-for="PhoneNumber" type="text" class="form-control"
                                           id="phoneNumber" placeholder="None">
                                    <div class="invalid-feedback">
                                        Field required.
                                    </div>
                                </div>
                                <div class="mb-3 col-md-4">
                                    <label class="form-label" for="ethnicGroup">Ethnic Group</label>
                                    <input asp-for="EthnicGroup" type="text" class="form-control " id="ethnicGroup" placeholder="Kinh">
                                    <div class="invalid-feedback">
                                        Field required.
                                    </div>
                                </div>
                                <div class="mb-3 col-md-4">
                                    <label class="form-label" for="regilion">Religion</label>
                                    <input asp-for="Religion" type="text" class="form-control " id="regilion" placeholder="None">
                                    <div class="invalid-feedback">
                                        Field required.
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label class="form-label" for="idCard">ID Card No</label>
                                    <input asp-for="IdCard" type="text" class="form-control " id="idCard" placeholder="01230123012033">
                                    <div class="invalid-feedback">
                                        Field required.
                                    </div>
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label class="form-label" for="cultrulaStarndard">Cultural Standard</label>
                                    <input asp-for="CulturalStandard"
                                           type="text"
                                           class="form-control "
                                           id="cultrulaStarndard"
                                           placeholder="12/12"
                                           value="@Model.CulturalStandard">
                                    <div class="invalid-feedback">
                                        Field required.
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="form-label" for="inputAddress">Permanent Residence</label>
                                <div class="col-md-2">
                                    <label class="form-label" for="inputAddress">City</label>
                                    <input asp-for="PermanentResidenceCity"
                                           type="text"
                                           class="form-control"
                                           id="prCity"
                                           placeholder="eg. Ha Noi"
                                           value="@Model.PermanentResidenceCity">
                                    <div class="invalid-feedback">
                                        Field required.
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label" for="inputAddress">District</label>
                                    <input asp-for="PermanentResidenceDistrict" type="text" class="form-control" id="prDistrict" placeholder="Hoan Kiem">
                                    <div class="invalid-feedback">
                                        Field required.
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label" for="inputAddress">Commune</label>
                                    <input asp-for="PermanentResidenceCommune" type="text" class="form-control" id="prCommune" placeholder="Ba Dinh">
                                    <div class="invalid-feedback">
                                        Field required.
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label" for="inputAddress">Address</label>
                                    <input asp-for="PermanentResidenceAddress" type="text" class="form-control" id="prAddress" placeholder="1234 Main St">
                                    <div class="invalid-feedback">
                                        Field required.
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="form-label" for="inputAddress">Regular Address</label>
                                <div class="col-md-2">
                                    <label class="form-label" for="inputAddress">City</label>
                                    <input asp-for="RegularAddressCity" type="text" class="form-control" id="raCity" placeholder="Ha Noi">
                                    <div class="invalid-feedback">
                                        Field required.
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label" for="inputAddress">District</label>
                                    <input asp-for="RegularAddressDistrict" type="text" class="form-control" id="raDistrict" placeholder="Hoan Kiem">
                                    <div class="invalid-feedback">
                                        Field required.
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label" for="inputAddress">Commune</label>
                                    <input asp-for="RegularAddressCommune" type="text" class="form-control" id="raCommune" placeholder="Ba Dinh">
                                    <div class="invalid-feedback">
                                        Field required.
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label" for="inputAddress">Address</label>
                                    <input asp-for="RegularAddressAddress" type="text" class="form-control" id="raAddress" placeholder="1234 Main St">
                                    <div class="invalid-feedback">
                                        Field required.
                                    </div>
                                </div>
                            </div>
                            <div class="w-100 mt-5">
                                <button type="submit" class="btn btn-primary w-100">Save</button>
                            </div>
                        </form>

                        @if (TempData["SuccessMessage"] != null)
                        {
                            <div id="successMessage"
                                 class="alert text-white border rounded alert-success alert-dismissible position-fixed top-50 start-50 translate-middle z-index-9999" role="alert"
                                 style="width: 500px; height: 200px; background-color: #74b9ff">
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                <div class="alert-message d-flex flex-column justify-content-center align-items-center">
                                    <h4 class="alert-heading mb-3 fs-2">Well done!</h4>
                                    <p class="fs-3">
                                        @TempData["SuccessMessage"]
                                    </p>
                                </div>
                            </div>
                            <script>
                                // Hide the success message after 5 seconds
                                setTimeout(function () {
                                    var successMessage = document.getElementById('successMessage');
                                    if (successMessage) {
                                        successMessage.style.display = 'none';
                                    }
                                }, 3000);
                            </script>
                        }
                    </div>
                </div>
            </main>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-6 text-start">
                            <p class="mb-0">
                                <a class="text-muted" href="https://adminkit.io/" target="_blank"><strong>AdminKit</strong></a> - <a class="text-muted" href="https://adminkit.io/" target="_blank"><strong>Bootstrap Admin Template</strong></a>								&copy;
                            </p>
                        </div>
                        <div class="col-6 text-end">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a class="text-muted" href="https://adminkit.io/" target="_blank">Support</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="https://adminkit.io/" target="_blank">Help Center</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="https://adminkit.io/" target="_blank">Privacy</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="https://adminkit.io/" target="_blank">Terms</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <partial name="~/Views/Partials/Script/ScriptPDF.cshtml"></partial>

    <script src="/template/js/app.js"></script>
    <script src="/template/js/custom_user.js"></script>
    <script src="/template/js/custom_navbar.js"></script>

</body>

</html>

